.btn {
    background-color: $brand-sixth;
    padding: 0.5rem 1.75rem;
    margin: auto;
    border: 1px solid $brand-third;
    border-radius: $radius-button;
    transition: linear 0.1s all;
    &:focus {
        outline: none;
        box-shadow: 0 0 4px $brand;
    }
}