.form-module {
    form {
        // background: white;
        // box-shadow: 0 1px 3px #c1c1c1;
        // border-radius: 4px;
        // padding: 26px 30px;
        margin: 20px auto;
        .form-header {
            margin-bottom: 20px;
        }
        .form-action {
            margin-top: 40px;
        }
    }
}