label {
    user-select: none;
    margin-bottom: 2px;
}

input[type="text"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="email"],
input[type="password"],
input[type="url"],
input[type="time"],
input[type="date"],
input[type="datetime-local"] {
    background-color: $white;
    width: 100%;
    padding: 0.35rem 0.75rem;
    border: 1px solid $brand-third;
    border-radius: $radius-input;
    font-size: 1.05rem;
    transition: linear 0.1s outline, linear 0.1s box-shadow;
    &:focus {
        outline: none;
        box-shadow: 0 0 4px $brand;
    }
}
textarea {
    @extend input[type="text"];
}
select {
    @extend input[type="text"];
    padding: 0.425rem 0.5rem;
}

.input-set {
    margin: 14px 0;
}