.login-module {
    display: flex;
    justify-content: center;
    form {
        background-color: $white;
        padding: 3rem;
        border-radius: 4px;
        box-shadow: 0 0 4px $brand-secondary;
        color: $brand;
        .form-header {
            font-size: 2.5rem;
            text-align: center;
            margin-bottom: 4.5rem;
            user-select: none;
        }
        .form-set {
            display: grid;
            margin: 10px 0;
            label {
                margin-bottom: .15rem;
                user-select: none;
            }
            input {
                width: 100%;
                padding: .25rem .75rem;
                border: 1px solid $brand-third;
                border-radius: 3px;
                font-size: 1.05rem;
                transition: linear .1s all;
                &:focus {
                    outline: none;
                    box-shadow: 0 0 4px $brand;
                }
            }
        }
        .form-action {
            display: grid;
            margin-top: 3rem;
            text-align: center;
            button {
                background-color: $brand-fifth;
                padding: 0.5rem 1.75rem;
                margin: auto;
                border: 1px solid $brand-third;
                border-radius: 3px;
                transition: linear .1s all;
                &:focus {
                    outline: none;
                    box-shadow: 0 0 4px $brand;
                }
            }
            a {
                margin: .5rem auto 0 auto;
            }
        }
    }
}