.login-module {
    display: flex;
    justify-content: center;
    form {
        padding: 3rem;
        color: $brand;
        .form-header {
            font-size: 2.5rem;
            text-align: center;
            margin-bottom: 4.5rem;
            user-select: none;
        }
        .form-action {
            display: grid;
            margin-top: 3rem;
            text-align: center;
            a {
                margin: 0.5rem auto 0 auto;
            }
        }
    }
}