/* IE and EDGE */
progress {
    /* RESETS */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;

    min-width: 200px;
    height: 15px;
    border-radius: $radius-progress;
    background-color: $brand-gray-100;
    color: $brand-secondary;
}

/* WEBKIT BROWSERS - CHROME, OPERA AND SAFARI */
progress::-webkit-progress-bar {
    background-color: $brand-gray-100;
    border-radius: $radius-progress;
}

progress::-webkit-progress-value {
    // background-color: $brand-secondary;
    background-color: #4c9c45;
    border-radius: $radius-progress;
}

/* MOZILLA FIREFOX */
progress::-moz-progress-bar {
    // background-color: $brand-secondary;
    background-color: #4c9c45;
    border-radius: $radius-progress;
}


.progress-bar-module {
    // background-color: $brand-gray-300;
    background-color: #f4f4f4;
    position: sticky;
    top: 18px;
    padding: 0 5px;
    border-bottom: 2px solid $brand-third;
    border-bottom: 1px solid #b1b1b1;
    z-index: 3;
    .progress-text {
        padding-top: 6px;
    }
    .progress-display {
        display: flex;
        position: relative;
        padding: 4px 14px 6px 14px;
        .display-text {
            margin: auto 10px auto 0;
            font-size: 1.1rem;
            font-weight: 600;
        }
        .display-bar {
            width: 100%;
            border: 1px solid $brand-third;
            border-radius: $radius-element;
            overflow: hidden;
            progress {
                height: 100%;
                width: 100%;
            }
        }
        .display-toggle {
            margin-left: 8px;
            padding: 0.4rem 0.65rem;
            svg {
                transition: linear 0.1s all;
            }
        }
        .display-popup {
            border-style: solid;
            border-color: $brand-third;
            border-width: 0 1px 1px 1px;
            border-radius: 0 0 $radius-element $radius-element;
            // background-color: $brand-gray-300;
            background-color: #f4f4f4;
            position: absolute;
            width: 100%;
            top: 90%;
            right: 0;
            overflow: hidden;
            z-index: 3;
            opacity: 0;
            pointer-events: none;
            transition: linear 0.075s all;
            .popup-header {
                padding: 12px 40px 8px 40px;
                font-weight: 600;
            }
            .popup-page {
                display: flex;
                padding: 8px 12px 8px 8px;
                border-bottom: 1px solid #cccccc;
                cursor: pointer;
                transition: linear 0.025s all;
                &:hover {
                    background-color: $brand-gray-200;
                }
                .page-status {
                    margin: auto 0 auto 10px;
                    svg {
                        width: 24px;
                        height: 24px;
                    }
                }
                .page-label {
                    width: 100%;
                    margin: auto 0;
                    padding: 0 12px;
                    font-size: 1.1rem;
                    user-select: none;
                }
                .page-open {
                    margin: auto 0;
                    padding: 2px 10px;
                    border: 1px solid #cccccc;
                    border-radius: 4px;
                }
            }
            .popup-page-selected {
                background-color: $white;
                &:hover {
                    color: black;
                }
                .page-status svg path {
                    stroke: white;
                }
            }
        }
    }
    .progress-display-open {
        .display-toggle {
            svg {
                transform: rotate(180deg);
            }
        }
        .display-popup {
            top: 100%;
            opacity: 1;
            pointer-events: inherit;
        }
    }
}

@media only screen and (min-width: 991px) {
    .progress-bar-module {
        padding: 0;
        border-right: 1px solid darkgray;
        .progress-text {
            padding-top: 6px;
        }
        .progress-display {
            .display-toggle {
                display: none;
            }
            .display-popup {
                border: none;
                opacity: 1;
                pointer-events: inherit;
                .popup-header {
                    padding: 24px 14px 8px 14px;
                }
                .popup-page {
                    .page-label {
                        padding: 6px;
                        font-size: 1rem;
                    }
                }
            }
        }
    }
}